@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style_.css">
<title>ADT.</title>
</head>
<body>

<div class="navbar">
  <div class="logo">
    ADT.
  </div>

  <div class="dropdown">
    <button class="dropbtn"> Вхід 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="login.html">Реєстрація</a>
    </div>
  </div> 

  <a href="#news">Мій профіль</a>
  <a href="#home">Додати оголошення</a>
  
  <div class="dropdown">
    <button class="dropbtn"> Категорії 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Одяг</a>
      <a href="#">Ліки</a>
      <a href="#">Житло</a>
      <a href="#">Їжа</a>
      <a href="#">Послуги</a>
    </div>
  </div> 
</div>

<div class="card">
  <img style="width: 100px;" src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg">
  <div class="card-about">
    DOG DKD PSDFUGESK DKJALD
    <div class="card-about-describe">
      fjfs sdkajfs lkdkl
    </div>
  </div>

  <img style="width: 100px;" src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg">
  <div class="card-about">
    DOG DKD PSDFUGESK DKJALD
    <div class="card-about-describe">
      fjfs sdkajfs lkdkl
    </div>
  </div>

  <img style="width: 100px;" src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg">
  <div class="card-about">
    DOG DKD PSDFUGESK DKJALD
    <div class="card-about-describe">
      fjfs sdkajfs lkdkl
    </div>
  </div>   
</div>
</body>
</html>
