<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <title>LOGIN</title>
</head>
<body>
  <div class="navbar">
    <div class="logo">
      ADT.
    </div>
  
    <div class="dropdown">
      <button class="dropbtn"> Вхід 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="login.html">Реєстрація</a>
      </div>
    </div> 
  
    <a href="#news">Мій профіль</a>
    <a href="#home">Додати оголошення</a>
    
    <div class="dropdown">
      <button class="dropbtn"> Категорії 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Одяг</a>
        <a href="#">Ліки</a>
        <a href="#">Житло</a>
        <a href="#">Їжа</a>
        <a href="#">Послуги</a>
      </div>
    </div> 
  </div>

  
  <div class="container">
    <label for="uname"><b>Ім'я користувача</b></label>
    <input type="text" placeholder="Введіть ім'я" name="uname" required>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Введіть пароль" name="psw" required>
      
    <button type="submit">Ввійти</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Запам'ятати пароль
    </label>
  </div>

  

</body>
</html>